/* create a media quiry for product_decription tag*/
@media (max-width: 1334px) {
  .product_decription {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .product_decription {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
}
@media (max-width: 1040px) {
  .product_decription {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }
}

@media (max-width: 885px) {
  .product_decription {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
  .product_image {
    width: 100px;
  }
}

@media (max-width: 340px) {
  .product_decription {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }
}

@media (max-width: 1165px) {
  .product_list {
    width: 50%;
  }
}
@media (max-width: 390px) {
  .product_list {
    width: 0%;
  }
}
@media (max-width: 1200px) {
  .card {
    padding: 0px;
  }
}
@media (max-width: 255px) {
  .inner_card {
    padding: 0px;
  }
}
@media (max-width: 1071px) {
 .edit_order_card {
  width: 100%;
 }
}

/*----------------------------------------------------------------*/

.order_description {
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1282px) {
  .order_description {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
  }
}
@media (max-width: 1200px) {
  .order_description {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
}
@media (max-width: 957px) {
  .order_description {
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    text-overflow: ellipsis;
  }
}

@media (max-width: 768px) {
  .order_description {
    font-size: 11px;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    max-height: 2.4em;
  }
}
.description_box {
  width: 100%;
}



.overAll_box {
 width: 100%;
}
.orderes_box {
  width: 100%;
}
.orderes_lable {
  width: 100%;
}

@media (max-width: 832px) {
  .overAll_box {
    width: 100%;
    padding: 0px;
  }
}
@media (max-width: 969px) {
  .description_box {
    width: 100%;
    padding: 10px 0px;
  }
  .orderes_box {
    width: 100%;
    padding: 0px;
  }
  .orderes_lable {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 730px) {
  
  .orderes_lable {
    width: 100%;
    height: 220px;
  }
}


/*----------------------------Checkout------------------------------------*/

.pay_button {
  background-color: #FF8C00;
  color: white;
  font-size: 16px;
  border: dashed 1px #FF8C00;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.customscrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 8%; /* Height of the scrollbar */
}

.customscrollbar::-webkit-scrollbar-thumb {
  background-color: #717988; /* Scrollbar color (gray-500) */
  border-radius: 10px;
}

.customscrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Track color (gray-200) */
}

.btn {background-image: linear-gradient(to right, #6190E8 0%, #A7BFE8  51%, #6190E8  100%)}
  .btn {
     margin: 5px;
     padding: 13px 20px;
     text-align: center;
     text-transform: uppercase;
     font-weight: 400;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .btn:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }


   
   .btnError {background-image: linear-gradient(to right, #a73737 0%, #7a2828  51%, #a73737  100%)}
   .btnError {
    margin: 5px;
    padding: 13px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    }

    .btnError:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
   
   /*----------------------------------------------------------------*/

   
   .btn-pay {background-image: linear-payient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%)}
   .btn-pay {
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }

    .btn-pay:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
   
    
    .btn-paymentMethod {background-image: linear-paymentMethodient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%)}
    .btn-paymentMethod {
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
     }

     .btn-paymentMethod:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    