.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ant-select-single {
  height: 36px!important;
}

.fw-input {
  padding-top: 0.5rem !important;
}

.uppy-Dashboard-AddFiles-info{
  display:hidden!important 
}
.center-div{
 @apply flex w-screen h-screen items-start justify-start flex-row whitespace-nowrap
}
.filterSorting :where(
  .ant-select-selection-item,
  .ant-select-focused
){
  @apply text-gray-400
}
.fw-primary-btn{
  @apply text-white right-14 mt-1 mx-4 whitespace-nowrap bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-1 h-12 text-center
}
.fw-sky-btn{
  @apply text-white max-md:mx-10 max-md:right-0 max-md:px-2 max-md:py-2 right-14 mt-3 mx-0  bg-sky-400 dark:bg-sky-500  font-medium rounded-lg text-sm px-5 py-2.5 h-10 text-center
}

.fw-sky-btn1{
  @apply text-white max-md:mx-10 max-md:right-0 max-md:px-2 max-md:py-2 right-14 mx-0 font-medium rounded-lg text-sm px-5 py-2.5 h-10 text-center
}

.fw-icon-btn{
  @apply inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 
}

.fw-icon-btn span{
    @apply  text-xs text-gray-500 dark:text-gray-400 whitespace-nowrap group-hover:text-blue-600 dark:group-hover:text-blue-500
  }


.ant-tree-node-content-wrapper{
  line-height: 30px !important;
}

.fw-input {
  @apply block px-2.5 pb-2.5 pt-4 w-full text-xs text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer-hover:text-black;
}

.fw-label {
  @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1
}

.ant-btn-primary {
  background: #1677ff!important;
}

.ant-tree-node-content-wrapper-open{
  line-height: 21px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=======================================Max Media Query========================================================= */

@media (max-width: 640px) {


}

@media (max-width: 768px) {

  .uppy-Dashboard-inner {
    height: auto!important;
  }

  .upload-logo {
    width: 50px;
    height: 50px;
  }

  .ant-layout-content {
    padding: 5px!important;
  }

  .first-flex-div {
    order: 1;
    padding: 20px;
  }

  .second-flex-div {
    order: 2;
    display: block;
  } 
}

@media (max-width: 1024px) {

}

@media (max-width: 1280px) {
  .uppy-Container {
    max-width: 400px;
    height: 100%;
  }
}

@media (max-width: 1536px) {
  
}

/*=======================================Min Media Query========================================================= */

@media (min-width: 640px) {


}

@media (min-width: 768px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {

}
@media (min-width: 1536px) {

}
